.Box {
  border: solid;
  border-radius: 5px;
  justify-content: space-between;
  justify-items: end;
  align-items: center;
  /* margin: 200px;  */
  
  width: 500px;   
  padding: 100px;
}
/* .Body{
    justify-items: center;
} */
.input {
  margin: 10px;
  width: 300px;
}
.button {
  justify-content: center;
  margin: 10px;
  background-color: aqua;
}
